header {
  background: #fafafa;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}

.header-list {
  display: flex;
}

.header-list li a {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 30px;
}

.header-logo {
  margin-left: 80px;
}

.header button {
  margin-right: 35px;
}
