.copyright-footer {
  background: #13253a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.copyright-footer p {
  font-size: 12px;
  line-height: 1.333em;
  text-align: right;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}
